<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>有娱 - 后台管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="//pic.36krcnd.com/avatar/201608/04061011/a8imaon5sp3cqwpp.png" />
  </head>
  <body>
    <div id="app"></div>
    <% if(process.env.NODE_ENV === 'development') { %>
    <script src="/static/dll/lib.dll.js"></script>
    <% } %>
  </body>
</html>
